<div ng-switch="$ctrl.state.dataLoadingStatus">
  <p ng-switch-when="loading">
    Loading configuration...
  </p>
  <div class="alert alert-danger" ng-switch-when="error">
    <h4>Unable to load configuration</h4>
    <pre>{{$ctrl.state.loadError | json:2}}</pre>
  </div>
  <div ng-switch-when="ok">
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{active: $ctrl.activeTab === 'groups'}"><a ng-click="$ctrl.activeTab = 'groups'">Groups</a></li>
      <li role="presentation" ng-class="{active: $ctrl.activeTab === 'assignees'}"><a ng-click="$ctrl.activeTab = 'assignees'">Assignees</a></li>
    </ul>
    <group-config-editor
        ng-if="$ctrl.activeTab === 'groups'"
        groups="$ctrl.state.groups"
        assignees="$ctrl.state.assignees"
        save-in-progress="$ctrl.state.saveInProgress">
    </group-config-editor>
    <assignee-config-editor
        ng-if="$ctrl.activeTab === 'assignees'"
        groups="$ctrl.state.groups"
        assignees="$ctrl.state.assignees"
        save-in-progress="$ctrl.state.saveInProgress">
    </assignee-config-editor>
    
    <button
        class="btn btn-primary pull-right"
        ng-click="$ctrl.state.save()"
        ng-disabled="$ctrl.state.saveInProgress">
      {{$ctrl.state.saveInProgress ? 'Saving...' : 'Save'}}
    </button>
    
    <div class="row">
        <div class="col-md-12">
          <div ng-if="$ctrl.state.saveError" class="alert alert-danger" style="margin: 15px">
            <div ng-if="$ctrl.state.saveError.status == 401 && $ctrl.state.saveError.data">
              {{$ctrl.state.saveError.data}}
            </div>
            <div ng-if="$ctrl.state.saveError.status != 401">
              <h4>Unable to save</h4>
              <pre>{{$ctrl.state.saveError | json:2}}</pre>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>