html, body {
  height:100%;
}

week-start td {
  border-top: 1px solid #aaa !important;
}

.training-class {
  position: relative;
  min-height: 38px;
}

.training-class, .legend {
  border: 1px solid #777777;
  border-radius: 4px;
  margin: 2px 0;
  font-size: 12px;
}

.nav-form {
  width: 100%;
  border-bottom: 0;
}

.container {
  margin-left: 0;
  width: auto;
}

.training-class, .legend-text {
  margin: 2px 0;
  font-size: 12px;
}

.training-class:not(.public), .legend:not(.public) {
  border-style: dotted;
}

.training-class p {
  margin: 0;
}

.training-class-link, .training-class-link:hover, .training-class-link:active, .training-class-link:visited {
  text-decoration: none;
  color: inherit;
}

#grid {
  display: grid;
  width: auto;
  font-size: smaller;
  table-layout: fixed;
  overflow: auto;
  overflow-y: hidden;
}
#grid thead {
  float: left;
}
#grid tbody {
  float: left;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 150px;
  max-height: calc(100vh - 175px);
  max-height: -moz-calc(100vh - 175px);
  max-height: -webkit-calc(100vh - 175px);
}
#grid tr {
  width: 100%;
  display: table;
  text-align: left;
}
td.date-cell, th.date-cell {
  width:80px;
  min-width:80px;
  max-width:80px;
}

td.date-range-cell, th.date-range-cell {
  width:130px;
  min-width:130px;
  max-width:130px;
}

td.date-time-cell, th.date-time-cell {
  width:120px;
  min-width:120px;
  max-width:120px;
}

#grid th {
  word-break: break-word;
  text-transform: capitalize;
}

#audit-log td {
  word-break: break-word;
}

.tickets-seats {
  display: block;
  margin: 0;
  padding: 0 2px;
  float: right;
  font-size: smaller;
  border-top-right-radius: 4px;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-color: #9A9A9A;
}

.half {
  display: inline-block;
  position: absolute;
  width: calc(50% - 4px);
  width: -moz-calc(50% - 4px);
  width: -webkit-calc(50% - 4px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.half-left {
  left: 2px;
}

.half-right {
  right: 2px;
}

.logo {
  float: left;
  width: 13px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 1px 0 0 1px;
}

.a-logo {
  background-image: url('/img/a.png');
}

.a2-logo {
  background-image: url('/img/a2.png');
}

.jira-logo {
  background-image: url('/img/jira_j.png');
}

.atlassian-academy-logo {
  background-image: url('/img/atlassian.png');
}

/*Just set background image using style={{backgroundImage: '/img/*.png'}} on the element*/



.public-class-indicator {
  display: block;
  float: left;
  font-size: x-small;
}

.instructor0 {
  background: #71ff71;
}

.instructor1 {
  background: #ff9d00;
}

.travel-icon:not(.legend-text) {
  position: absolute;
  bottom: 0px;
  right: 2px;
  font-size: smaller;
}

.travel-icon .glyphicon-send {
  color: #c00000;
}

.travel-icon .glyphicon-plane {
  color: #009000;
}

.travel-icon .glyphicon-flash {
  color: #4848e4;
}

.discussing-dates {
  background-color: #ffefef;
}

.need-to-reserve {
  background-color: #dfefff;
}

.payment-pending {
  background-color: #dfefff;
}

.booked {
  background-color: #efffef;
}

.completed {
  background-color: #b9e4b9;
}

.class-date {
  display:block;
  white-space: nowrap;
  /*width: calc(100% - 34px);*/
  overflow: hidden;
  padding: 0 2px;
}

tr.past {
  background: #ffffff;
}

tr.thick-border {
  border-top: 3px solid #676767;
}

tr.highlight-yellow {
  background: #ffffe5;
}

.detailed-view > div:not(:last-child) {
  border-bottom: 1px solid #777777;
}

[ng-click] {
  cursor: pointer;
}

#legend-container {
  padding: 15px;
}

.legend {
  text-align: center;
}

#legend-container h3 {
  margin-top: 0;
}

span.notes {
  text-align: left;
  white-space: pre-wrap;
  word-break: break-word;
  width: 100%;
  min-height: 17px;
  cursor: text;
}

.date-cell span.notes {
  min-height: 18px;
}

#grid .year-header {
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid #676767;
  border-top: 3px solid #676767;
}

[contenteditable] {
  outline: 0px solid transparent;
  min-width: 5px; /* needed for space to display blinking cursor */
  display: inline-block;
}

sales-indicator {
  margin-left: 2px;
}

.sales-border {
  position: relative;
  display:inline-block;
  height: 10px;
  width: 5px;
  border:1px solid #aaaaaa;
}

.sales-inner {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}

.sales-on-sale {
  height: 100%;
  background-color: #33ee33
}

.sales-almost-sold-out {
  height: 30%;
  background-color: #ee3333
}

.multiselect-parent .dropdown-toggle {
  background: white;
  font-size: 12px;
  height: 30px;
}

#assignee-config-table .dndDraggingSource {
  display: none;
}
#assignee-config-table th {
  padding: 1em;
  vertical-align: middle;
}

#assignee-config-table span.glyphicon {
  text-align: center;
  display: block;
  height: 34px;
  padding: 8px 0;
}

#assignee-config-table .dndPlaceholder {
  background-color: #ddd;
  /*display: inline-block;*/
  display: table-cell;
  width: 80px;
}

td.checkbox-cell {
  padding: 0;
}

td.checkbox-cell:hover {
  background: #d9edf7;
}

  #group-config-form .dndDraggingSource {
  display: none;
}

#group-config-form .group-config-item {
  padding: 0.5em 0;
}

#group-config-form .dndPlaceholder {
  background-color: #ddd;
  display: block;
  height: 30px;
}

#group-config-form input {
  width: 300px;
}

#group-config-form .handle {
  display: inline-block;
  cursor: pointer;
}

.navFilter > a[role='button'] {
  padding-top: 6px;
  padding-bottom: 0px;
}
.navFilter .form-group {
  margin-bottom: 0px;
}
