<div ng-if="!$ctrl.detailedView" style="position: relative" ng-style="::{height: ($ctrl.rows.length * 16) + 'px'}">
  <span ng-repeat="row in ::$ctrl.rows" style="position: absolute; left: 0; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%"
      ng-style="::{top: ($index * 16) + 'px'}">
    <sales-indicator ng-if="::$ctrl.classInfo.public" sales="row.sales"></sales-indicator>{{::row.label}}
  </span>
</div>
<div ng-if="$ctrl.detailedView">
  <span ng-repeat="row in ::$ctrl.rows" style="display: inline-block">
    <sales-indicator ng-if="::$ctrl.classInfo.public" sales="::row.sales"></sales-indicator>{{::row.label}}
  </span>
</div>
