<navbar>
  <form class="navbar-form navbar-left" ng-if="$ctrl.data">
    <engagement-grid-filters engagements="$ctrl.data.classes" on-change="$ctrl.reloadView(assignees, engagements, notes)"" view-settings="$ctrl.viewSettings"></engagement-grid-filters>
  </form>
</navbar>

<div>
  <div ng-if="$ctrl.status == 'LOADING'">
    <h4>Loading...</h4>
  </div>

  <div ng-if="$ctrl.status == 'ERROR'" class="alert alert-danger" style="margin: 15px">
    <div ng-if="$ctrl.error.status == 401 && $ctrl.error.data">
      {{$ctrl.error.data}}
    </div>
    <div ng-if="$ctrl.error.status != 401">
      <h4>Unable to load data</h4>
      <pre>{{$ctrl.error | json:2}}</pre>
    </div>
  </div>

  <div ng-if="$ctrl.status == 'NO_DATA'" class="alert" style="margin: 15px">
    You do not have any classes or notes.
  </div>

  <div ng-if="$ctrl.status == 'DATA_FILTERED'" class="alert" style="margin: 15px">
    You do not have any classes or notes matching the filter criteria.
  </div>

  <div ng-if="$ctrl.status == 'DATA_PRESENT'" manage-layout>
    <div class="panel panel-default">
      <table class="table table-condensed" id="grid">
        <thead>
          <tr>
            <th class="date-cell">Week</th>
            <th ng-repeat="i in $ctrl.instructors" class="text-center" style="min-width: 100px; width: {{96/($ctrl.instructors.length)}}%">{{i.name}}</th>
            <th><div style="width: calc(100vw - (80px + {{$ctrl.instructors.length}} * 300px))"></div></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(weekNum, w) in $ctrl.weeks" ng-class="{'year-header': w.year, 'past': w.past, 'thick-border': $ctrl.needsThickBorder($index), 'highlight-yellow': $ctrl.needsHighlightYellow($index)}">
            <td ng-if="w.year" colspan="$ctrl.instructors.length + 1" style="min-width: {{$ctrl.instructors.length*100+90}}px">
              {{::w.year}}
            </td>
            <td ng-if="::!w.year" class="date-cell" cell-with-notes>
              <div ng-click="$ctrl.viewSettings.toggleRowExpansion(weekNum, $event)">
                <div ng-if="::w.weekStart">
                  <div>{{::w.weekStart | date:"M/d"}} - {{::w.weekEnd | date:"M/d"}}</div>
                </div>
                <div ng-if="::!w.weekStart">
                  No date
                </div>
              </div>
              <notes ng-if="::w.weekStart" text="$ctrl.noteIndex[w.key]" on-change="$ctrl.saveNotes(w.key, null, text)"></notes>
            </td>
            <td ng-if="::!w.year" ng-repeat="i in $ctrl.instructors" style="min-width: 100px; width: {{::(96/($ctrl.instructors.length))}}%" cell-with-notes>
              <engagement-grid-class class="text-center" class-info="::c" instructor="::$ctrl.classInstructor(c, i)" ng-repeat="c in ::$ctrl.getClasses(w, i)" detailed-view="$ctrl.viewSettings.isExpanded(weekNum)" ng-click="$ctrl.viewSettings.toggleRowExpansion(weekNum, $event)"></engagement-grid-class>
              <notes
                  ng-if="::w.weekStart"
                  initial-text="::$ctrl.noteText(w, i)"
                  editable="::$ctrl.isEditable(w)"
                  on-change="$ctrl.saveNotes(w.key, i.email, text)">
              </notes>
            </td>
            <td ng-if="::!w.year"><div style="width: calc(100vw - (80px + {{$ctrl.instructors.length}} * 300px))"></div></td>
          </tr>
          <tr>
            <td colspan="$ctrl.instructors.length + 1" style="min-width: {{$ctrl.instructors.length*100+90}}px">
              <div class="pull-left">&copy; 2016 <a href="http://oasisdigital.com">Oasis Digital Solutions Inc.</a></div>
              <div class="pull-right" style="margin-right: 15px">build {{$root.build}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
