<div class="training-class {{::$ctrl.statusClass}}" ng-attr-title="{{::$ctrl.tooltip}}" ng-class="::{'public': $ctrl.public}">
  <div ng-if="!$ctrl.detailedView">
    <span class="logo a-logo" ng-if="::$ctrl.angular"></span>
    <span class="logo a2-logo" ng-if="::$ctrl.angular2"></span>
    <span class="logo jira-logo" ng-if="::$ctrl.jira"></span>
    <span class="logo atlassian-academy-logo" ng-if="::$ctrl.atlassianAcademy"></span>
    <span class="tickets-seats instructor{{::$ctrl.instructorPosition}}" title="Seats: {{::$ctrl.ticketsSeats || '?'}}&#10;Instructor {{::$ctrl.instructorPosition + 1}} of {{::$ctrl.instructors.length}}">
      {{::$ctrl.ticketsSeats || '?'}}
    </span>
    <div class="travel-icon">
      <span class="glyphicon" ng-class="::{ 'glyphicon-flash': $ctrl.instructor.travel === 'online', 'glyphicon-send': $ctrl.instructor.travel === 'booking-needed', 'glyphicon-plane': $ctrl.instructor.travel === 'booked'}"></span>
    </div>
    <span class="class-date"><strong>{{::$ctrl.classDates}}</strong></span>
    <div>
      <div ng-if="::$ctrl.customerName">
        <div class="half half-left">
          <class-location class-info="::$ctrl.classInfo"></class-location>
        </div>
        <div class="half half-right">{{::$ctrl.customerName}}</div>
      </div>
      <class-location ng-if="::!$ctrl.customerName" class-info="::$ctrl.classInfo"></class-location>
    </div>
  </div>

  <div ng-if="$ctrl.detailedView">
    <span class="logo a-logo" ng-if="::$ctrl.angular"></span>
    <span class="logo a2-logo" ng-if="::$ctrl.angular2"></span>
    <span class="logo jira-logo" ng-if="::$ctrl.jira"></span>
    <span class="logo atlassian-academy-logo" ng-if="::$ctrl.atlassianAcademy"></span>
    <span class="tickets-seats instructor{{::$ctrl.instructorPosition}}" title="Seats: {{::$ctrl.ticketsSeats || '?'}}&#10;Instructor {{::$ctrl.instructorPosition + 1}} of {{::$ctrl.instructors.length}}">
      {{$ctrl.ticketsSeats || '?'}}{{$ctrl.unassigned ? '' : '/' + $ctrl.instructors.length}}
    </span>
    <div class="travel-icon">
      <span class="glyphicon" ng-class="::{ 'glyphicon-flash': $ctrl.instructor.travel === 'online', 'glyphicon-send': $ctrl.instructor.travel === 'booking-needed', 'glyphicon-plane': $ctrl.instructor.travel === 'booked'}"></span>
    </div>
    <span class="class-date"><strong>{{::$ctrl.classDates}}</strong> ({{::$ctrl.duration}})</span>
    <div class="detailed-view">
      <div style="white-space: pre-line" ng-if="::($ctrl.datesOffered && $ctrl.statusClass == 'discussing-dates')">{{::$ctrl.datesOffered}}</div>
      <div ng-if="::($ctrl.online || $ctrl.classLocationRegion || $ctrl.timeZone)">
        <div><class-location detailed-view="true" class-info="::$ctrl.classInfo"></class-location><span ng-if="::$ctrl.timeZone"> ({{::$ctrl.timeZone}})</span></div>
      </div>
      <div ng-if="::$ctrl.customerName">{{::$ctrl.customerName}}</div>
      <div>{{::$ctrl.statusAbbr}}</div>
      <div><a href="{{::$ctrl.url}}" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> {{::$ctrl.key}}</a></div>
    </div>
  </div>
</div>
