<navbar></navbar>

<div id="legend-container" style="max-width: 650px">
  <h3>Help</h3>
  <div class="row">
    <div class="col-xs-4 col-sm-3">
      <label>Summary</label>
      <div class="img-container"><img src="img/legend_summary.png"></div>
    </div>
    <div class="col-xs-8 col-sm-5">
      <label style="margin-bottom: 20px">Private</label>
      <div class="img-container"><img src="img/legend_sales.png"></div>
      <label style="margin-top: 20px">Detailed</label>
      <div class="img-container"><img src="img/legend_detail.png"></div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <label>Public/Private</label>
      <div class="legend public">
        Public
      </div>
      <div class="legend">
        Private
      </div>
      <label>Status</label>
      <div class="legend public discussing-dates">
        Discussing dates
      </div>
      <div class="legend public payment-pending">
        Pending payment
      </div>
      <div class="legend public booked">
        Booked
      </div>
      <div class="legend public completed">
        Completed
      </div>
      <label>Travel</label>
      <div class="legend-text travel-icon">
        <span class="glyphicon glyphicon-send"></span> Booking Needed
      </div>
      <div class="legend-text travel-icon">
        <span class="glyphicon glyphicon-plane"></span> Booked
      </div>
      <div class="legend-text travel-icon">
        <span class="glyphicon glyphicon-flash"></span> Online Instructor
      </div>
      <label>Sales</label>
      <div class="legend-text">
        <span class="sales-border" style="margin: 0 2px">
          <span class="sales-inner sales-on-sale"></span>
        </span> On Sale
      </div>
      <div class="legend-text">
        <span class="sales-border" style="margin: 0 2px">
          <span class="sales-inner sales-almost-sold-out"></span>
        </span> Almost Sold Out
      </div>
      <div class="legend-text">
        <span class="sales-border" style="margin: 0 2px">
          <span class="sales-inner sales-sold-out"></span>
        </span> Sold Out
      </div>
      <div class="legend-text">
        <span style="font-size: 10px; color: #888888" class="glyphicon glyphicon-pencil"></span> Draft
      </div>
      <div class="legend-text">
        <span style="font-size: 10px; color: #888888" class="glyphicon glyphicon-eye-close"></span> Hidden
      </div>
    </div>
  </div>
</div>
